@charset 'utf-8';

[data-custom] {border-radius:3px; padding:9px 17px; border:1px solid #dcdcdc; font-size:15px; line-height:17px;}
[data-custom] [data-custom-text] {color:#55565a;}
[data-custom].active {border-color:transparent; background-color:#2f7de1;}
[data-custom].active [data-custom-text] {color:#fff;}